[submodule "libs/luafilesystem"]
	path = libs/luafilesystem
	url = https://github.com/lunarmodules/luafilesystem
[submodule "libs/zydis"]
	path = libs/zydis
	url = https://github.com/zyantific/zydis.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
