name: Build Project and Upload Artifact

on:
  workflow_dispatch:
  push:
    branches:
      - main-msvc
    paths:
      - modtest/**
      - libzhl/**
      - libzhlgen/**

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'true'
        fetch-depth: 0

    - name: Generate changelog
      run: |
        echo "return [[" > ${{github.workspace}}/modtest/scripts/repentogon_extras/changelog_official_text.lua
        git log -n 10 --pretty=format:"%h (%an)%n* %s%n/fade/%b%n/newline/" >> ${{github.workspace}}/modtest/scripts/repentogon_extras/changelog_official_text.lua
        echo "]]" >> ${{github.workspace}}/modtest/scripts/repentogon_extras/changelog_official_text.lua
        echo "Resulting lua file:"
        type ${{github.workspace}}/modtest/scripts/repentogon_extras/changelog_official_text.lua
        echo "#pragma once" > ${{github.workspace}}/modtest/Version.h
        $sha = git rev-parse --short HEAD
        echo "#define VERSION `"$sha`"" >> ${{github.workspace}}/modtest/Version.h
        (gc ${{github.workspace}}/modtest/scripts/repentogon_extras/changelog.lua) -replace 'dev build', '%sha%' | Out-File -encoding ASCII ${{github.workspace}}/modtest/scripts/repentogon_extras/changelog.lua

    - name: Configure CMake
      run: cmake -G "Visual Studio 17 2022" -A "Win32" -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Create Artifact Folder
      shell: powershell
      run: |
        cd ${{github.workspace}}/build/Release
        mkdir artifact
        mv resources artifact
        mv mods artifact
        mv dsound.dll artifact
        mv libzhl.dll artifact
        mv zhlModTest.dll artifact
        mv Lua5.3.3r.dll artifact
        
    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: REPENTOGON-main
        path: ${{github.workspace}}/build/Release/artifact/
